# Azure Blob Storage Configuration
# Get these values from your Azure Portal Storage Account
# 1. Storage Account Name: Settings > Access Keys > Storage account name
# 2. Container Name: Data storage > Containers > Create/use a container name
# 3. SAS Token: Shared access signature > Generate SAS and connection string

NEXT_PUBLIC_AZURE_STORAGE_ACCOUNT_NAME=littlegeniusstorage01
NEXT_PUBLIC_AZURE_STORAGE_CONTAINER_NAME=littlegenius-images
NEXT_PUBLIC_AZURE_SAS_TOKEN=sv=2025-11-05&ss=bfqt&srt=sco&sp=rwdlacupiytfx&se=2027-04-28T23:24:13Z&st=2026-04-28T15:09:13Z&spr=https,http&sig=c8DMRSlJ4CKMAHa911hs2fI4TF1NQpZmiwspJx1DSEo%3D
